@charset "utf-8";

@font-face {
  font-family: Virtual;
  font-weight: normal;
  src: url(/virtual-light.ttf);
}

@font-face {
  font-family: Virtual;
  font-weight: bold;
  src: url(/virtual-dark.ttf);
}

html, body, main, header, footer, div, span, h1, p, a, em, i, b, s, u {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: Virtual, monospace;
  color: #000000;
  background: #ffffff;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

main {
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: left;
}

header, footer {
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 8px;
}

footer {
  margin-top: 24px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 24px;
}

a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.2s;
  cursor: default;
}

em, i {
  font-style: italic;
}

b {
  font-weight: bold;
}

s {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

hr {
  border-color: #000000;
  border-width: 1.5px;
  border-style: solid;
  background: #000000;
  width: 90%;
  max-width: 500px;
}

.c {
  text-align: center;
}

.m {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.x {
  min-width: 100%;
  height: calc(100vh - 182px);
  min-height: 3px;
  background: #ffffff;
}

#cover .x {
  background: #eeeeee;
}

#nav {
  font-size: 24px;
}

bar {
  border-left: .1em solid #000000;
}

space {
  border-left: .1em solid #ffffff;
}

@media only screen and (min-width: 555px) {

main {
  min-width: 500px;
  max-width: 1200px;
  width: 33.33%;
}

h1 {
  font-size: 64px;
}

hr {
  min-width: 500px;
  max-width: 1200px;
  width: 33.33%;
}

.x {
  height: calc(100vh - 212px);
  min-height: 3px;
}

}

@media only screen and (max-width: 768px) {

body {
 -webkit-text-size-adjust: none;
}

}

@media (hover: hover) {

a:hover {
  opacity: 10%;
}

a#cover:hover {
  opacity: 100%;
}

}